<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.equip.AlarmInfoMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<sql id="">
		<!-- common -->
	</sql>

	<select id="findUnsolvedAlarmData" resultType="com.banxian.entity.equip.UnsolvedAlarmInfoMap">
		SELECT
		t1.alarmTime as alarmTime,
		t6.constantName as alarmLevel,
		t3.deviceName as deviceName,
		t2.alarmContent as alarmContent,
		t4.orgCode as orgCode,
		t4.orgName as orgName,
		t4.orgTel as orgTel,
		t4.orgAddr as orgAddr,
		t5.statusName as statusName
		from
		alarm_info_temp t1, alarm_def t2, sys_device t3,
		sys_orga t4,
		alarm_status t5, sys_constant t6
		WHERE
		t1.statusId = '1'
		and t1.alarmDefId = t2.alarmDefId
		and t1.deviceId = t3.deviceId
		and t2.delFlag = '0'
		and t3.orgId = t4.id
		<if test="orgCode != null and orgCode != ''">
			and t4.orgCode = '${orgCode}'
		</if>
		and t4.delFlag = '0'
		and t6.kind = '29'
		and t2.alarmLvl = t6.constantValue
		and t1.statusId = t5.statusId
	</select>

	<select id="findHistoryAlarmData" resultType="com.banxian.entity.equip.AlarmInfoMap">
		SELECT
		tp2.orgCode AS orgCode,
		tp2.orgName AS orgName,
		t1.alarmTime AS alarmTime,
		tp.constantName AS alarmLevel,
		tp2.deviceName AS deviceName,
		tp.alarmContent AS alarmContent,
		t5.statusName AS statusName,
		case
		t1.statusId when '1' then
		null
		when '2' then
		t1.handlerCode
		end as handlerCode,
		case t1.statusId when '1' then
		null
		when '2' then
		t7.userName
		end as handlerName,
		case t1.statusId when '1' then
		null
		when '2' then
		t1.handleTime
		end as handleTime
		FROM
		alarm_info t1,
		alarm_status t5,
		(
		SELECT
		t2.alarmDefId AS alarmDefId,
		t2.alarmContent AS alarmContent,
		t6.constantName AS constantName,
		t6.constantValue AS constantValue
		FROM
		alarm_def t2,
		sys_constant t6
		WHERE
		t6.kind = '29'
		AND t2.alarmLvl = t6.constantValue
		AND t2.delFlag = '0'
		) tp,
		(
		SELECT
		t4.id AS orgId,
		t4.orgCode AS orgCode,
		t4.orgName AS orgName,
		t3.deviceId AS deviceId,
		t3.deviceName AS deviceName
		FROM
		sys_device t3,
		sys_orga t4
		WHERE
		t4.delFlag = '0'
		AND t3.orgId = t4.id
		) tp2,
		sys_user t7
		WHERE
		t1.alarmDefId = tp.alarmDefId
		AND t1.deviceId = tp2.deviceId
		AND t1.statusId = t5.statusId
		AND t7.delFlag = '0'
		AND (
		t1.statusId = '1'
		OR (
		t1.statusId = '2'
		and (t1.handlerCode = 'admin'
		or(t1.handlerCode &lt;&gt; 'admin'
		and
		t7.accName = t1.handlerCode
		))))
		<if test="orgName != null and orgName != ''">
			and tp2.orgName like '%${orgName}%'
		</if>
		<if test="roleKey != 'admin'">
			and tp2.orgId = t7.orgId
			<if test="orgCode != null and orgCode != ''">
				and tp2.orgCode = '${orgCode}'
			</if>
		</if>
		<if test="startDate != null and startDate != ''">
			and t1.alarmTime &gt;= '${startDate}'
		</if>
		<if test="endDate != null and endDate != ''">
			and t1.alarmTime &lt;= '${endDate}'
		</if>
		group by t1.alarmId
		ORDER BY
		t1.statusId ASC,
		tp.constantValue ASC,
		t1.alarmTime DESC,
		tp2.orgCode ASC
	</select>

	<insert id="insertAlarmInfoTemp" parameterType="java.util.List">
		INSERT INTO alarm_info_temp
		(deviceId,
		alarmDefId,
		statusId,
		alarmTime
		)
		VALUES
		<foreach collection="list" item="map" open="" separator="," close="">  
			(#{map.deviceId},
			(SELECT
				alarmDefId
			FROM
				alarm_def
			WHERE
				alarmKind = #{map.constantKind}
				AND position = #{map.constantValue}
				AND delFlag = '0'
			),
			'1',
			DATE_FORMAT(#{map.time},'%Y-%m-%d %H:%i:%s')
			)
		</foreach>
	</insert>
	
	<insert id="insertAlarmInfo" parameterType="java.util.List">
		INSERT INTO alarm_info
		(deviceId,
		alarmDefId,
		statusId,
		alarmTime,
		createTime
		)
		VALUES
		<foreach collection="list" item="map" open="" separator="," close="">  
			(#{map.deviceId},
			(SELECT
				alarmDefId
			FROM
				alarm_def
			WHERE
				alarmKind = #{map.constantKind}
				AND position = #{map.constantValue}
				AND delFlag = '0'
			),
			'1',
			DATE_FORMAT(#{map.time},'%Y-%m-%d %H:%i:%s'),
			DATE_FORMAT(now(),'%Y-%m-%d %H:%i:%s')
			)
		</foreach>
	</insert>
</mapper>