<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.equip.GraphDataMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<sql id="selectId">
		<!-- common fields -->
	</sql>

	<select id="findGraphData" resultType="com.banxian.entity.equip.GraphDataMap">
		SELECT
			<if test="yearMonth == null or yearMonth == ''">
			DATE_FORMAT(t1.currTime,'%d') AS currTime,
			</if>
			<if test="yearMonth != null and yearMonth != '' and (date == null or date == '')">
			DATE_FORMAT(t1.currTime,'%d') AS currTime,
			</if>
			<if test="yearMonth != null and yearMonth != '' and date != null and date != ''">
			DATE_FORMAT(t1.currTime,'%H') AS currTime,
			</if>
			t1.deviceId AS deviceId,
			t5.type AS deviceType,
			t4.orgCode AS orgCode,
			t4.orgName AS orgName,
			t5.deviceName AS deviceName,
			(
				SELECT
					t2.attrValue
				FROM
					attr_value t2
				WHERE
					t1.id = t2.foreignId
				AND t1.currTime = t2.currTime
				AND t2.attrKey = 'LNG液位'
				AND t2.delFlag = '0'
			) AS lngLiquidPosition
		FROM
			attr_key t1,
			sys_orga t4,
			sys_device t5
		WHERE
			t1.orgId = t4.id
			AND t1.deviceId = t5.deviceId
			and t5.type = '01'
			AND t1.delFlag = '0'
			AND t4.delFlag = '0'
			<choose>
				<when test="orgNum != null and orgNum != ''">
					AND t4.orgCode = '${orgNum}'
				</when>
				<otherwise>
					AND t4.orgCode = '${orgCode}'
				</otherwise>
			</choose>
			<choose>
				<when test="yearMonth == null or yearMonth == ''">
					AND DATE_FORMAT(t1.currTime,'%Y%m') = '${currYearMonth}'
				</when>
				<when test="yearMonth != null and yearMonth != '' and (date == null or date == '')">
					AND DATE_FORMAT(t1.currTime,'%Y%m') = '${yearMonth}'
				</when>
				<when test="yearMonth != null and yearMonth != '' and date != null and date != ''">
					AND DATE_FORMAT(t1.currTime,'%Y%m%d') = '${date}'
				</when>
			</choose>
		<if test="date == null or date == ''">
			GROUP BY deviceId
		</if>
		ORDER BY deviceId, DATE_FORMAT(currTime, '%Y-%m-%d %H:%i:%s')
	</select>
	
</mapper>