<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.SysUserMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<sql id="selectId">
		user_id,
		user_name,
		acc_name,
		(select role_name from sys_role
		where sys_role.role_id
		= sys_user.role_id) roleName,
		password,
		description,
		locked,
		credential_salt,
		create_time
	</sql>

	<select id="findUserPage" resultType="com.banxian.entity.UserFormBean">
		select
		<include refid="selectId" />
		from sys_user
		where 1 = 1
		<if test="acc_name != null and acc_name != ''">
		and acc_name like '%${accountName}%'
		</if>
	</select>
	
</mapper>