<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.SysUserMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<sql id="selectId">
		su.id,
		su.userName,
		su.accName,
		su.userPass,
		su.description,                                  
		su.locked,
		su.credentialsSalt,
		su.updateTime
	</sql>

	<select id="findUserPage" resultType="com.banxian.entity.UserFormBean">
		select
		<include refid="selectId" />,(select roleName from sys_role
		where sys_role.id
		= su.roleId) roleName
		from sys_user su
		where 1 = 1
		<if test="accName != null and accName != ''">
		and su.accName like '%${accName}%'
		</if>
	</select>
	
	<select id="findUserByAccName" resultType="com.banxian.entity.UserFormBean">
		SELECT
			<include refid="selectId" />,
			sr.roleName,
			sr.roleKey,
			so.orgCode,
			so.orgName,
			so.orgType,
			su.tel,
			su.mail,
			su.delFlag,
			su.operCode,
			su.roleId,
			su.orgId,
			su.parentId,
			su.userStat
		FROM
			sys_user su left JOIN sys_role sr on sr.id = su.roleId left JOIN sys_orga so ON so.id = su.orgId
		WHERE
		<if test="accName != null and accName != ''">
		su.accName like '%${accName}%'
		</if>
	</select>
	
	
</mapper>